a {
  text-decoration: None;
}

a:hover {
  color: #000066;
  text-decoration: underline;
}

article {
  margin-left: 4em;
  margin-right: 4em;
}

body {
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
}

h1 {
  margin: 0em;
  padding: 0.2em;
  font-family: 'Arial';
  font-size: 3em;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #505050;
  color: #FFFFFF;
  font-family: 'Arial';
  font-size: 1.5em;
}

nav a {
  color: inherit;
}

nav a:hover {
  color: #DDDDDD;
}

p {
  font-size: 1.7em;
  font-family: 'Crimson Text';
}

p img {
  border-radius: 4em;
  float: left;
  margin-right: 1em;
}

table {
  border-spacing: 0.85em 0.25em;
}

ul {
  list-style: none;
  padding-left: 0;
}

div.buttons {
  position: relative;
  vertical-align: middle;
}

div.buttons img {
  margin-bottom: 0.3em;
  margin-top: 0.7em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

i.icon-m {
  background-image: url(https://edge.mormoncdn.org/bc/content/assets/img/lib/socialIcons/social.png);
  background-position: -95px -112px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
}

table.icons img {
  max-height: 32px;
  max-width: 32px;
}

#linkedin {
  transform: translate(110px, -50%);
}

#my-header {
  background-color: #282828;
  color: #FFFFFF;
}
