a {
  text-decoration: None;
}

a:hover {
  color: #000066;
  text-decoration: underline;
}

article {
  margin-left: 4em;
  margin-right: 4em;
}

body {
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: center;
}

h1 {
  margin: 0em;
  padding: 0.2em;
  font-family: 'Arial';
  font-size: 2.5em;
}

nav {
  background-color: #505050;
  color: #FFFFFF;
  font-family: 'Arial';
  font-size: 1.5em;
}

nav a {
  color: inherit;
}

nav a:hover {
  color: #DDDDDD;
}

p {
  font-size: 1.5em;
  font-family: 'Crimson Text';
}

table {
  border-spacing: 0.85em 0.25em;
  margin: auto;
}

i.icon-m {
  background-image: url(https://mormonorg.lds.org/bc/content/assets/img/lib/socialIcons/social.png);
  background-position: -95px -112px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
}

table.icons {
  text-align: left;
}

table.icons img {
  max-height: 32px;
  max-width: 32px;
}

#my-header {
  background-color: #282828;
  color: #FFFFFF;
}

#portrait {
  border-radius: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 15em;
}
